.graph-margin {
  margin-top: -110px;
}

.bg-primary-color {
  background-color: #00c3b8;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #00c3b8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #00c3b8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Rounded sliders */
.table-default thead > tr > th {
  padding: 0.5rem 0.5rem;
}

.font-bold.label-text {
  font-size: 17px;
}

.des {
  font-size: 16px;
  width: 126px;
}
.image-size {
  width: 79px;
  width: 70px !important;
  height: 70px !important;
}
@media (min-width: 300px) and (max-width: 358px) {
  .mobileWidthDash {
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) {
  .btneditIns {
    justify-content: center;
    margin-left: 60px;
  }
}
@media (min-width: 320px) and (max-width: 820px) {
  .graph-margin {
    margin-top: 0px;
  }
  .mobileSwitch {
    display: flex;
  }

  .mobile-reverse-col {
    display: flex;
    flex-direction: column-reverse;
  }
  .mobileResposnive {
    display: flex;
    justify-content: center;
  }
  .tab-margin {
    width: 90%;
  }
  .graph-margin {
    margin-top: 0px;
  }
}
@media (min-width: 320px) and (max-width: 1279px) {
  .graph-margin {
    margin-top: 0px;
  }
}
@media (min-width: 320px) and (max-width: 660px) {
  .mobile-padding {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 320px) and (max-width: 500px) {
  .flex.mobile-wrap {
    flex-wrap: wrap;
  }
}
/* .apexcharts-text tspan {
    fill: #FFF!important;
} */

.logo img {
  max-height: 60px;
}

span.avatar.avatar-rounded.image-size {
  background: none;
}

input.input.input-sm.h-9.focus\:ring-indigo-600.focus-within\:ring-indigo-600.focus-within\:border-indigo-600.focus\:border-indigo-600 {
  background: #f3f6f9;
  border: none;
}
.borderClass {
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hide-on-mobile {
    display: none;
  }
  .mobile-width {
    width: 100%;
  }
}
.report-page .table-default tbody > tr > td {
  padding: 0rem 0rem;
}
.graduation-cap {
  font-size: 2rem;
}

img.report-img {
  width: 24px;
}
.classheading {
  font-size: 1rem;
  font-weight: 600;
}

.student-main-card .apexcharts-text tspan {
  fill: #fff !important;
}

.student-main-card .hover-btn-graph:hover {
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
}
.clickable-hover-effect:hover {
  background-color: #198e87;
}
.clickable-hover-effect {
  border: 1px solid #3ebfb9;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px, rgba(0, 0, 0, 0.06) 0px 2px 5px,
    rgba(0, 0, 0, 0.01) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 1px 1px,
    rgba(0, 0, 0, 0.01) 0px 0px 1px;
}
.overflow-filter {
  overflow: auto;
}

.switcher {
  border-radius: 0;
}

.switcher-toggle:before {
  border-radius: 0;
}
.switcher-toggle {
  top: 4px;
}
.switcher {
  height: 1.8rem;
}

.hoverNone:hover {
  background: none;
}

.overflowContentHandle {
  white-space: initial;
}

.slidecontainer {
  width: 100%;
}

.radio:checked {
  background-color: #00c3b8;
}
.switcher-toggle:before {
  border-radius: 34px;
}
.switcher {
  height: 1.8rem;
  width: 55px;
  border-radius: 34px;
}

.myRow {
  display: flex;
  align-items: center;
}
