.previewData {
  width: 100%;
  border: 1px solid #333;
  min-height: 270px;
  padding: 4px;
  border-radius: 4px;
}
.table {
  width: 100%;
}
.dropdown {
  width: 90%;
  border: 1px solid #333;
  border-radius: 4px;
  height: 28px;
}
.box {
  border: 1px solid #333;
  border-radius: 4px;
}

.table,
td,
th {
  border: 1px solid #333;
  padding: 8px;
}

.Imagebox_main {
  border: 1px solid #333;
  padding: 8px;
  border-radius: 8px;
  width: 136px;
  margin-inline: 8px;
}

.loader > div:first-child > div {
  position: fixed;
  left: 50%;
  margin-top: 50vh;
}

.exportBtn {
  margin-top: 5% !important;
  margin-bottom: 2% !important;
  background-color: #40e0d0 !important;
  color: white !important;
  font: 16px !important;
  margin-left: 24px !important;
}
.exportBtn:disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}
.crossIcon {
  position: absolute;
  right: 16px;
  top: 16px;
}

.drawer > div {
  height: 100%;
}

.box {
  border: 1px solid #333;
  border-radius: 4px;
  padding: 4px;
}

.boxInput input {
  border: 1px solid #333;
  border-radius: 4px;
  height: 28px;
  padding: 0;
  padding-left: 4px;
}

.boxInput input:disabled {
  opacity: 0.5;
  background-color: floralwhite;
}
