.previewData {
  width: 100%;
  border: 1px solid rgb(209 213 219 / var(--tw-border-opacity));
  min-height: 270px;
  padding: 4px;
  border-radius: 4px;
  font-size: inherit;
  font-weight: 300;
  outline: none;
}
.table {
  width: 100%;
}
/* ////////// */
.dropdown {
  width: 100%;
  border: 1px solid rgb(209 213 219 / var(--tw-border-opacity));
  font-size: inherit;
  font-weight: 300;
  border-radius: 4px;
  height: 28px;
  background-color: #fff;
  padding-left: 4px;
}
.box {
  border: 1px solid rgb(209 213 219 / var(--tw-border-opacity));
  border-radius: 4px;
}

.table,
td,
th {
  border: 1px solid #333;
  padding: 8px;
}

.Imagebox_main {
  border: 1px solid #333;
  padding: 8px;
  border-radius: 8px;
  width: 136px;
  margin-inline: 8px;
}

.loader > div:first-child > div {
  position: fixed;
  left: 50%;
  margin-top: 50vh;
}

.exportBtn {
  margin-top: 24px !important;
  margin-bottom: 2% !important;
  background-color: #40e0d0 !important;
  color: white !important;
  font: 16px !important;
  margin-left: 24px !important;
}
.exportBtn:disabled {
  cursor: not-allowed !important;
  opacity: 0.5;
}
.crossIcon {
  position: absolute;
  right: 16px;
  top: 16px;
}

.primaryBtn {
  background-color: #40e0d0 !important;
  color: #fff !important;
}

.primaryBtn:hover {
  background-color: #40e0d0;
}

.drawer > div {
  height: 100%;
}

.box {
  border: 1px solid #333;
  border-radius: 4px;
  padding: 4px;
}
.boxInput {
  width: 100%;
}

.boxInput input {
  /* border: 1px solid #333; */
  border-radius: 4px;
  height: 28px;
  font-size: inherit;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color emoji !important;
  font-weight: 300;
  padding: 0;
  padding-left: 4px;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.boxInput input:disabled {
  opacity: 0.5;
  background-color: floralwhite;
}
.Boxborder {
  border: 0.6px solid rgb(209 213 219 / var(--tw-border-opacity));
}

.inputLabel {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
    Noto Color emoji !important;
  color: #6b7280 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
}
.textStyle {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 31px;
  color: #adadad;
  margin-bottom: 5% !important;
}
.boxBorder {
  border: 1px solid rgb(209 213 219 / var(--tw-border-opacity));
}
